/* mobile view*/
@media only screen and (min-width:320px){
    html{
        margin: 0;
        font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    body{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        margin: 5vw;
        background-color: #B6D49E;
    }

    h1, h2, h3, div, p{
        text-align: center;
    }

    .logo{
        width: 50vw;
        margin: 10vw 0;
    }

    .textbox{
        background-color: white;
        border: 2px solid black;
        border-radius: 20px;
        padding: 3vw;
        font-size: 2vw;
    }

    h1{
        font-size: 10vw;
        font-weight: bold;
        color: white;
    }

    .calltoaction{
        font-size: 7vw;
        font-weight: lighter;
    }

    .oneline{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        font-size: 5vw;
    }

    .scroll{
        margin: 0 1vw;
        width: 6vw;
    }

    h2{
        font-size: 6vw;
    }

    #whatis{
        width: 80vw;
    }

    .cabbage{
            position: absolute;
            z-index: 1;
            width: 25vw;
            left: 5vw;
            top: 150vw;
    }

    .chicken{
        position: absolute;
        z-index: 1;
        right: 5vw;
        top: 230vw;
    }

    hr{
        background-color: #6C6C6C;
        border: 0.5vw solid #6C6C6C;
        width: 80vw;
    }

    .mountain{
        width: 40vw;
        padding: 10vw 0;
    }

    .house{
        width: 25vw;
        position: absolute;
        z-index: 2;
        left: 5vw;
        top: 274vw;
    }

    .barn{
        width: 25vw;
        position: absolute;;
        z-index: 2;
        right: 10vw;
        top: 269vw;
    }

    .car{
        width: 25vw;
        position: absolute;;
        z-index: 2;
        left: 30vw;
        top: 280vw;
    }

    .problem{
        font-size: 6vw;
        position: relative;
    }

    .changes{
        width: 50vw;
        position: relative;
        left: 15vw;
        font-size: 5vw;
        padding: 0;
    }

    .earth{
        position: absolute;
        z-index: 1;
        left: 5vw;
        width: 35vw;
        top: 350vw;
    }

    .city{
        position: absolute;
        z-index: 1;
        width: 80vw;
        left: 12vw;
    }

    .clouds{
        position: absolute;
        z-index: 2;
        width: 50vw;
        top: 400vw;
    }

    .cloud2{
        left: 1vw;
    }

    .challenge{
        position: relative;
        right: 13vw;
        width: 65vw;
        margin: 0;
        font-size: 4vw;
    }

    .nomargin{
        margin: 0;
    }

    h3{
        width: 80vw;
        font-size: 6vw;
    }

    .person{
        position: absolute;
        z-index: 1;
        width: 25vw;
        right: -0.5vw;
        top: 460vw;
    }

    .box{
        position: absolute;
        z-index: 1;
        width: 20vw;
        top: 480vw;
        right: 2vw;
    }

    .house2{
        position: absolute;
        z-index: 3;
        top: 600vw;
        left: 5vw;
    }

    .mountain2{
        position: absolute;
        z-index: 1;
        top: 600vw;
        width: 80vw;
        left: 10vw;
    }

    .tree{
        position: absolute;
        z-index: 2;
        top: 610vw;
        width: 30vw;
    }

    .tree1{
        left: 60vw;
    }
    .tree2{
        left: 70vw;
    }

    .cloudtext{
        width: 75vw;
    }

    .float{
        position: absolute;
        top: 680vw;
        left: 31vw;
        font-size: 4vw;
    }

    .little{
        width: 50vw;
        font-size: 4vw;
        position: relative;
        left: -10vw;
    }

    .cabbage1{
        width: 20vw;
        transform: scaleX(-1);
        position: absolute;
        z-index: 2;
        top: 750vw;
        right: 25vw;
    }

    .carrot{
        width: 10vw;
        position: absolute;
        z-index: 2;
        top: 725vw;
        left: 8vw;
        transform: rotate(20deg);
    }

    .pig{
        width: 30vw;
        position: absolute;
        z-index: 2;
        top: 710vw;
        right: 10vw;
    }
}