html, body {
    margin: 0;
    padding: 0;
    margin-left: 15px;
    width: 375px;
}

#main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.article {
    width: 100%;
}

.top, .middle, .image, .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom {
    flex-direction: column;
    font-size: 20px;
}

.low-nav {
    position: sticky;
    bottom: 0px;
}

@media only screen and (min-width:320px){
    
}